*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    border:none;
    outline: none;
}

/* .list-item:nth-child(odd){
    background: #FF4B32;
}
.list-item:nth-child(even){
    background: lightgreen;
    font-weight: 700;
    font-style: italic;
} */

/* .list-item:last-child{
    text-align: center;
}
.list-item:first-child{
    text-align: right;
} */

/* .list-item:not(:first-child){
    text-align: center;
    color: red;
} */

/* .list-item:not(.active){
    text-align: center;
    color: red;
} */

/* .list-item:nth-child(2n){
    color: red;
} */
/* .list-item::first-letter{
    font-size: 50px;
} */

.desc{
    width: 404px;
    height: 404px;
    border: 2px double black;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 50px;
    height: 50px;
    background: #000;
}