*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border:none;
    outline: none;
}

/*
    static - default
    fixed - фіксоване позиціонування
    sticky - прилипаюче позиціонування
    absolute - абсолютне позиціонування
    relative - відносне позиціонування
*/

.up-btn{
    width: 70px;
    height: 70px;
    background: #2fbb81;
    border-radius: 50%;
    position: fixed;
    top:  20px;

    transition: 2s;
    z-index: 200;
}
.secret-block{
    width: 95%;
    height: 100px;
    margin: 0 auto;
    background: rgba(111,11,129,0.6);
    position: sticky;
    top: 0;
    border-radius: 0 0 10px 10px;
    z-index: 99999;
}
.absolute-block{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    inset: 0;
    /* margin: auto; */
    /* left: 0;
    bottom: 0;
    top:0;
    right: 0; */
    z-index: 100;
    left: 50px;
    top: 40px;
}
.relative-block{
    width: 400px;
    height: 400px;
    background: lightskyblue;
    position: relative;
    z-index: 100;
}
